<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        table{
            border: 2px solid grey;
            width: 100%;
        }
        tr{
            border: 2px solid grey;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 90%;
        }
        input{
            width: 100%;
            margin-bottom: 10px;
        }
        .btn{
            margin-top: 20px;
            width: 30%;
            align-self: center;
            background: rgb(66, 165, 53);
            color: white;
            cursor: pointer;
        }
        
    </style>
</head>
<body>
    <h1 style="text-align: center;">You can Add Magazine in csv file and download it</h1>
    <form action="/newbook" method="POST">
        <label for="title">Title: 
            <input type="text" name="title">
        </label>
        <label for="authors">Authors: 
            <input type="text" name="authors">
        </label>
        <label for="isbn">ISBN: 
            <input type="text" name="isbn">
        </label>
        <label for="publishedAt">Published-At: 
            <input type="text" name="publishedAt">
        </label>
        <input class="btn" type="submit" value="Submit">
    </form>
    <table>
        <tr><th>Title</th><th>Authors</th><th>ISBN</th><th>Published-At</th></tr>
        <% magazines.forEach(magazine=>{%>
            <tr>
                <td><%= magazine.title %></td>
                <td><%= magazine.authors %></td>
                <td><%= magazine.isbn %></td>
                <td><%= magazine.publishedAt %></td>
            </tr>
        <% }) %>
    </table>
    <button class="btn" onclick="func('magazines')" >Download <%= page %></button>
    <script>
        function func(file){
            fetch(`${window.location.origin}/download/${file}`,{
            method : 'POST'})
            .then((res)=>res.blob().then((blob)=>{
                const url = window.URL.createObjectURL(blob);
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'filename.zip'); 
                document.body.appendChild(link);
                link.click();
            }).catch(()=>{
                console.log("error")
            })).catch(()=>{
                console.log("error")
            })
        }
    </script>
</body>
</html>